body{
	background-image: url(https://hdbackgroundspot.com//storage/upload/colorful-abstract-background/colorful-abstract-background-2.jpg
);	background-size: cover;
	background-size: 800px;
}

.automatic{
	border:groove absolute;
	position:absolute;
	background-color:rgba(100, 200, 255, 0.3);
	border-radius: 25px;
	margin-left: 300px;
	margin-top: 20px;
	padding-left:15px;
	padding-right: 5px;
	padding-top: 20px;
	padding-bottom: 25px;
	font-family: serif;
	text-align: center;
}

.percentage{
	border:groove absolute;
	position:absolute;
    background-color:rgba(100, 200, 200, 0.3);  
    border-radius: 25px;
    margin-top: -410px;
    margin-right: 300px; 
	padding-right: 30px;
	padding-top: 20px;
	font-family: serif;
	text-align: center;	
}

.costSplitter{
	opacity: 0.8;
	color: #41558e;
	font-style: italic;
	text-align: center;
	margin-top: 70px;
}

p{
	font-weight: 900;
}